
    <div></div>
    <div class="container">
      <div class="card" *ngFor="let livro of books$ | async">
        <!-- <a href="#"> -->
        <img src="{{ livro.imgUrl }}" alt="Livro 1" />

        <div class="detalhes">
          <h2>{{ livro.title }}</h2>
          <p>por '{{ livro.author }}'</p>
          <p>Data de Publicação {{livro.publicationDate | date: 'dd/MM/yyyy'}}</p>
          <!-- </a> --> 
            <!-- <a href="#" class="btn-ler" title="Ver Detalhes"> 📖 </a> -->
            
        </div>
        <button (click)="openModal(livro)">Detalhes </button>
        <Livro-book-details-modal [bookDetails]="livro"></Livro-book-details-modal>
      </div>
    </div>
            